:root {
    --bg-color: #f9fafb;
    --text-color: #1f2933;
    --muted-text: #4b5563;
    --accent-color: #2563eb;
    --card-bg: #ffffff;
    --border-color: #e5e7eb;
}
* {
   box-sizing: border-box; 
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

/*Nav Bar*/
.navbar {
    background-color: white;
    border-bottom: 1px solid var(--border-color);
}
.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.2rem;
    margin: 0;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

}
.nav-links a {
    text-decoration: none;
    color: var(--text-color);
}